* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(Violin.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	overflow: hidden;
}
.box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(Violin.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.box:nth-child(1) {
	filter: blur(10px);
}
.box:nth-child(2){
	clip-path: circle(150px at var(--x) var(--y));
}
.box h2 {
	position: absolute;
	color: #feb236;
	font-size: 10em;
	transform: translate(0, 0);
	transform: translate(calc(var(--x)/25), calc(var(--y)/25));
}
.circle {
	position: absolute;
	top: -150px;
	left: -150px;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: 2px solid #feb236;
	box-shadow: 0 5px 25px rgba(0,0,0,0.25);
	transform: translate(var(--x), var(--y));
}